extends layout

block content
  body
    div(class="container")
      div(class="row")
        div(class="col-md-12")
         h3 Notes 
          br
          br
          each resource in resources
            div
              a(href=resource["path"]) <b> #{resource["resource"]} </b>
              span(class=resource["color"]) #{resource["status"]}
              br
              div
                span(style={color:'#976e9a'}) <p>     #{resource["tags"]} </p>
   
