extends layout

block content
  body
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h3 Notes by 
             a(href="https://www.linkedin.com/in/srikanth-lankapalli-37a4a1124") Srikanth Lankapalli & 
             a(href="https://www.linkedin.com/in/sirisha-boothapati-57540757/") Sirisha Boothapati 
          br
          each resource in resources
            div
              a(href=resource["path"]) <b> #{resource["resource"]} </b>
              span(class=resource["color"]) #{resource["status"]}
              br
              div
                span(style={color:'#976e9a'}) <p>     #{resource["tags"]} </p>
   
